{% extends 'base.html.twig' %}

{% block title %}Onboarding{% endblock %}

{% block body %}
    <main class="flex w-full h-full">
        <twig:OnboardingSidebar :step="app.request.get('step')" />

        <section class="flex-grow">
        </section>
    </main>
{% endblock %}
