{% extends 'base.html.twig' %}

{% block title %}Onboarding{% endblock %}

{% block body %}
    <main class="flex w-full h-full">
        <twig:OnboardingSidebar :step="3" />
        <section class="flex-grow">
            {{ student.firstname }}
        </section>
    </main>
{% endblock %}
