services:
#  php:
#    user: "${uid}:${gid}"

#  db:
#    ports:
#      - "5432:5432"

  web:
    ports:
      - "8000:80"

  node:
    ports:
      - "${NODE_DEV_PORT}:${NODE_DEV_PORT}"

  mailbox:
    image: dockage/mailcatcher
    ports:
      - "8081:1080"

  mercure:
    ports:
      - "8090:80"
