{% extends 'base.html.twig' %}

{% block title %}Grades{% endblock %}

{% block body %}
    <main class="h-full w-full flex items-center">
        <twig:Sidebar/>

        <section class="h-full flex flex-col flex-grow pt-8 px-8">
            <div class="flex items-center justify-between">
                <h1 class="text-primary font-semibold text-3xl">Grades</h1>
                <div class="flex gap-2 items-center">
                    <button class="px-3.5 py-2.5 text-secondary font-semibold border border-primary rounded-lg custom-shadow-xs-skeuomorphic transition-all ease-in-out duration-200 hover:bg-secondary">
                        Sync with MyGES
                    </button>
                    <button class="bg-orange-600 hover:bg-orange-700 transition-all ease-in-out duration-200 rounded-lg py-2.5 px-4 flex justify-center items-center gap-1.5 text-white font-semibold">
                        Export
                    </button>
                </div>
            </div>

            <div class="w-full mt-6 flex border-b border-secondary">
                <a href="#" class="font-semibold text-orange-700 border-b-2 border-orange-700 px-1 pb-3">
                    Overview
                </a>
            </div>

            <div class="w-full flex-grow flex divide-x">
                <div class="w-1/2 py-8 space-y-6">
                    <h2 class="text-primary font-semibold text-lg">Courses</h2>
                    <div class="w-full mt-6 flex gap-3 border-b border-secondary">
                        <a href="#" class="font-semibold text-orange-700 border-b-2 border-orange-700 px-1 pb-3">
                            All
                        </a>
                        <a href="#" class="px-1 pb-3 font-semibold text-quarternary">Available</a>
                        <a href="#" class="px-1 pb-3 font-semibold text-quarternary">Unavailable</a>
                    </div>
                    <div class="rounded-lg border border-secondary overflow-hidden mr-2">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">ID</th>
                                <th scope="col" class="px-6 py-3">Name</th>
                                <th scope="col" class="px-6 py-3">State</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for grade in grades %}
                                <tr class="bg-white border-b hover:bg-gray-50 cursor-pointer"
                                    onclick="window.location.href = '/grades/' + {{ grade.rc_id }}">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{ grade.rc_id }}
                                    </th>
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{ grade.course }}
                                    </th>
                                    <td class="px-6 py-4 text-gray-900 whitespace-nowrap">
                                        {{ grade.grades|length > 0 ? 'Available' : 'Unavailable' }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="w-1/2 py-8 flex flex-col space-y-6 pl-4">
                    {% block course %}
                        {% if course is defined %}
                            <!-- Afficher les informations sur le cours ici -->
                        {% else %}
                            <div class="flex items-center justify-center flex-grow">
                                <p>
                                    Select a course to view its grades
                                </p>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
