{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <main class="h-full w-full">
        <div class="flex flex-col items-center relative py-24">
            <svg width="768" height="524" class="absolute -top-5 -z-10" viewBox="0 0 768 524" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_5023_373035" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-244"
                      width="768" height="768">
                    <rect width="768" height="768" transform="translate(0 -244)"
                          fill="url(#paint0_radial_5023_373035)"/>
                </mask>
                <g mask="url(#mask0_5023_373035)">
                    <g clip-path="url(#clip0_5023_373035)">
                        <g clip-path="url(#clip1_5023_373035)">
                            <line x1="0.5" y1="-244" x2="0.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="48.5" y1="-244" x2="48.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="96.5" y1="-244" x2="96.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="144.5" y1="-244" x2="144.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="192.5" y1="-244" x2="192.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="240.5" y1="-244" x2="240.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="288.5" y1="-244" x2="288.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="336.5" y1="-244" x2="336.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="384.5" y1="-244" x2="384.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="432.5" y1="-244" x2="432.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="480.5" y1="-244" x2="480.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="528.5" y1="-244" x2="528.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="576.5" y1="-244" x2="576.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="624.5" y1="-244" x2="624.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="672.5" y1="-244" x2="672.5" y2="524" stroke="#E4E7EC"/>
                            <line x1="720.5" y1="-244" x2="720.5" y2="524" stroke="#E4E7EC"/>
                        </g>
                        <rect x="0.5" y="-243.5" width="767" height="767" stroke="#E4E7EC"/>
                        <g clip-path="url(#clip2_5023_373035)">
                            <line y1="43.5" x2="768" y2="43.5" stroke="#E4E7EC"/>
                            <line y1="91.5" x2="768" y2="91.5" stroke="#E4E7EC"/>
                            <line y1="139.5" x2="768" y2="139.5" stroke="#E4E7EC"/>
                            <line y1="187.5" x2="768" y2="187.5" stroke="#E4E7EC"/>
                            <line y1="235.5" x2="768" y2="235.5" stroke="#E4E7EC"/>
                            <line y1="283.5" x2="768" y2="283.5" stroke="#E4E7EC"/>
                            <line y1="331.5" x2="768" y2="331.5" stroke="#E4E7EC"/>
                            <line y1="379.5" x2="768" y2="379.5" stroke="#E4E7EC"/>
                            <line y1="427.5" x2="768" y2="427.5" stroke="#E4E7EC"/>
                            <line y1="475.5" x2="768" y2="475.5" stroke="#E4E7EC"/>
                            <line y1="523.5" x2="768" y2="523.5" stroke="#E4E7EC"/>
                        </g>
                        <rect x="0.5" y="-243.5" width="767" height="767" stroke="#E4E7EC"/>
                    </g>
                </g>
                <defs>
                    <radialGradient id="paint0_radial_5023_373035" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(384 384) rotate(90) scale(384 384)">
                        <stop/>
                        <stop offset="1" stop-opacity="0"/>
                    </radialGradient>
                    <clipPath id="clip0_5023_373035">
                        <rect width="768" height="768" fill="white" transform="translate(0 -244)"/>
                    </clipPath>
                    <clipPath id="clip1_5023_373035">
                        <rect y="-244" width="768" height="768" fill="white"/>
                    </clipPath>
                    <clipPath id="clip2_5023_373035">
                        <rect y="-244" width="768" height="768" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <div class="bg-white custom-shadow-xs-skeuomorphic p-3.5 rounded-lg border border-secondary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 10V8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8V10M12 14.5V16.5M8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C17.7202 10 16.8802 10 15.2 10H8.8C7.11984 10 6.27976 10 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21Z"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <div class="flex flex-col items-center gap-3 mt-6 w-[360px] text-center">
                <h1 class="font-semibold text-primary text-3xl">Set new password</h1>
                <p class="text-tertiary font-normal">Your new password must be different to previously used
                    passwords.</p>
            </div>

            <div class="mt-8 flex flex-col w-[360px]">
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button type="submit"
                        class="w-full mt-6 px-4 py-2.5 bg-orange-600 hover:bg-orange-700 text-white font-semibold flex items-center justify-center gap-2 rounded-lg transition ease-in-out duration-200">
                    Reset password
                </button>
                <a href="{{ path('app_login') }}" class="text-tertiary font-semibold text-sm mt-6 flex items-center gap-2 mx-auto w-fit hover:underline underline-offset-4 transition-all ease-in-out duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M16.3332 9.99996H4.6665M4.6665 9.99996L10.4998 15.8333M4.6665 9.99996L10.4998 4.16663" stroke="#475467" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Back to login
                </a>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </main>
{% endblock %}
