{% extends 'base.html.twig' %}

{% block title %}Hello CoursesController!{% endblock %}

{% block body %}
    <main class="h-full w-full flex items-center">
        <twig:Sidebar />

        <section class="h-full flex-grow pt-8">
            <div class="px-8">
                <h1 class="text-primary font-semibold text-3xl">Courses</h1>
            </div>
        </section>
    </main>
{% endblock %}
