<section {{ attributes }} class="w-1/4 flex flex-col justify-between h-full bg-secondary">
    <div class="pt-12 px-8">
        <div class="flex items-center gap-2">
            <svg class="h-8 w-8" fill="none" height="48" viewbox="0 0 48 48" width="48"
                 xmlns="http://www.w3.org/2000/svg">
                <filter id="a" color-interpolation-filters="sRGB" filterunits="userSpaceOnUse" height="54"
                        width="48" x="0" y="-3">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"/>
                    <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="-3"/>
                    <feGaussianBlur stddeviation="1.5"/>
                    <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                    <feBlend in2="shape" mode="normal" result="effect1_innerShadow_3051_46977"/>
                    <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="3"/>
                    <feGaussianBlur stddeviation="1.5"/>
                    <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0"/>
                    <feBlend in2="effect1_innerShadow_3051_46977" mode="normal"
                             result="effect2_innerShadow_3051_46977"/>
                    <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feMorphology in="SourceAlpha" operator="erode" radius="1"
                                  result="effect3_innerShadow_3051_46977"/>
                    <feOffset/>
                    <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
                    <feColorMatrix type="matrix"
                                   values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.24 0"/>
                    <feBlend in2="effect2_innerShadow_3051_46977" mode="normal"
                             result="effect3_innerShadow_3051_46977"/>
                </filter>
                <filter id="b" color-interpolation-filters="sRGB" filterunits="userSpaceOnUse" height="42"
                        width="34.5" x="6.75" y="5.25">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feMorphology in="SourceAlpha" operator="erode" radius="1.5"
                                  result="effect1_dropShadow_3051_46977"/>
                    <feOffset dy="2.25"/>
                    <feGaussianBlur stddeviation="2.25"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix"
                                   values="0 0 0 0 0.141176 0 0 0 0 0.141176 0 0 0 0 0.141176 0 0 0 0.1 0"/>
                    <feBlend in2="BackgroundImageFix" mode="normal" result="effect1_dropShadow_3051_46977"/>
                    <feBlend in="SourceGraphic" in2="effect1_dropShadow_3051_46977" mode="normal" result="shape"/>
                </filter>
                <linearGradient id="c" gradientunits="userSpaceOnUse" x1="24" x2="26" y1=".000001" y2="48">
                    <stop offset="0" stop-color="#fff" stop-opacity="0"/>
                    <stop offset="1" stop-color="#fff" stop-opacity=".12"/>
                </linearGradient>
                <linearGradient id="d" gradientunits="userSpaceOnUse" x1="24.0007" x2="24.0007" y1="9" y2="39">
                    <stop offset="0" stop-color="#fff" stop-opacity=".8"/>
                    <stop offset="1" stop-color="#fff" stop-opacity=".5"/>
                </linearGradient>
                <linearGradient id="e" gradientunits="userSpaceOnUse" x1="24" x2="24" y1="0" y2="48">
                    <stop offset="0" stop-color="#fff" stop-opacity=".12"/>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"/>
                </linearGradient>
                <clipPath id="f">
                    <rect height="48" rx="12" width="48"/>
                </clipPath>
                <g filter="url(#a)">
                    <g clip-path="url(#f)">
                        <rect fill="#ff4405" height="48" rx="12" width="48"/>
                        <path d="m0 0h48v48h-48z" fill="url(#c)"/>
                        <g fill="url(#d)" filter="url(#b)">
                            <path d="m28.5006 24c0 2.4853-2.0147 4.5-4.5 4.5s-4.5-2.0147-4.5-4.5 2.0147-4.5 4.5-4.5 4.5 2.0147 4.5 4.5z"/>
                            <path d="m28.5006 13.5c0 2.4853-2.0147 4.5-4.5 4.5s-4.5-2.0147-4.5-4.5 2.0147-4.5 4.5-4.5 4.5 2.0147 4.5 4.5z"/>
                            <path d="m37.5938 29.25c0 2.4853-2.0148 4.5-4.5001 4.5-2.4852 0-4.5-2.0147-4.5-4.5s2.0148-4.5 4.5-4.5c2.4853 0 4.5001 2.0147 4.5001 4.5z"/>
                            <path d="m37.5952 18.7502c0 2.4853-2.0147 4.5-4.5 4.5s-4.5-2.0147-4.5-4.5 2.0147-4.5 4.5-4.5 4.5 2.0147 4.5 4.5z"/>
                            <path d="m28.5006 34.5c0 2.4853-2.0147 4.5-4.5 4.5s-4.5-2.0147-4.5-4.5 2.0147-4.5 4.5-4.5 4.5 2.0147 4.5 4.5z"/>
                            <path d="m19.4077 18.75c0 2.4853-2.0147 4.5-4.5 4.5s-4.5-2.0147-4.5-4.5 2.0147-4.5 4.5-4.5 4.5 2.0147 4.5 4.5z"/>
                            <path d="m19.4062 29.2498c0 2.4853-2.0147 4.5-4.5 4.5-2.4852 0-4.5-2.0147-4.5-4.5s2.0148-4.5 4.5-4.5c2.4853 0 4.5 2.0147 4.5 4.5z"/>
                        </g>
                    </g>
                    <rect height="46" rx="11" stroke="url(#e)" stroke-width="2" width="46" x="1" y="1"/>
                </g>
            </svg>
            <h1 class="font-semibold text-xl">SchoolManager</h1>
        </div>
        <div class="mt-20">
            <div class="flex gap-4 {{ step == 1 ? '' : 'opacity-60' }}">
                <div class="flex flex-col gap-1 items-center pb-1">
                    <div class="bg-white custom-shadow-xs-skeuomorphic p-3 rounded-lg border border-secondary">
                        <svg class="text-secondary" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 10V8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8V10M12 14.5V16.5M8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C17.7202 10 16.8802 10 15.2 10H8.8C7.11984 10 6.27976 10 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21Z"
                                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="w-0.5 h-6 border-secondary border rounded-full"></div>
                </div>
                <div class="space-y-0.5">
                    <p class="font-semibold text-secondary">Profile Setup</p>
                    <p class="font-normal text-tertiary">Link MyGES or create your profile</p>
                </div>
            </div>
            <div class="flex gap-4 {{ step == 2 ? '' : 'opacity-60' }}">
                <div class="flex flex-col gap-1 items-center pb-1">
                    <div class="bg-white custom-shadow-xs-skeuomorphic p-3 rounded-lg border border-secondary">
                        <svg class="text-secondary" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 10V8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8V10M12 14.5V16.5M8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C17.7202 10 16.8802 10 15.2 10H8.8C7.11984 10 6.27976 10 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21Z"
                                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="w-0.5 h-6 border-secondary border rounded-full"></div>
                </div>
                <div class="space-y-0.5">
                    <p class="font-semibold text-secondary">Your details</p>
                    <p class="font-normal text-tertiary">Please provide your name and email</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-between px-8 py-8 items-center">
        <p class="text-sm text-tertiary font-normal">© SchoolManager 2025</p>
        <div class="flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M1.3335 4.6665L6.77678 8.4768C7.21756 8.78535 7.43795 8.93962 7.67767 8.99938C7.88943 9.05216 8.1109 9.05216 8.32265 8.99938C8.56238 8.93962 8.78277 8.78535 9.22355 8.4768L14.6668 4.6665M4.5335 13.3332H11.4668C12.5869 13.3332 13.147 13.3332 13.5748 13.1152C13.9511 12.9234 14.2571 12.6175 14.4488 12.2412C14.6668 11.8133 14.6668 11.2533 14.6668 10.1332V5.8665C14.6668 4.7464 14.6668 4.18635 14.4488 3.75852C14.2571 3.3822 13.9511 3.07624 13.5748 2.88449C13.147 2.6665 12.5869 2.6665 11.4668 2.6665H4.5335C3.41339 2.6665 2.85334 2.6665 2.42552 2.88449C2.04919 3.07624 1.74323 3.3822 1.55148 3.75852C1.3335 4.18635 1.3335 4.7464 1.3335 5.8665V10.1332C1.3335 11.2533 1.3335 11.8133 1.55148 12.2412C1.74323 12.6175 2.04919 12.9234 2.42552 13.1152C2.85334 13.3332 3.41339 13.3332 4.5335 13.3332Z" stroke="#667085" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <a href="mailto:contact@nassimlounadi.fr" class="text-tertiary text-sm font-normal">contact@nassimlounadi.fr</a>
        </div>
    </div>
</section>
